@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s ease;
}

.page-enter-from {
  opacity: 0;
  transform: translateX(100px);
}

.page-leave-to {
  opacity: 0;
  transform: translateX(-100px);
}


